body{
    background-color: black;
    color: white;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mytitle{
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-weight: bold;
}

section{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
}

button{
    height: 280px;
    width: 70px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    padding-top: 220px;
    font-size: 30px;
    font-weight: bold;
    outline: none;
}

button:active {
	background: linear-gradient(rgb(239, 239, 239), rgb(204, 204, 204));

}







